body {
    background-color: #00f2fa;
    margin: auto;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    background-color: #ff00f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

.navbar-left-links,
.navbar-right-links {
    display: flex;
    gap: 16px;
    list-style: none;
}

.navbar-left-links {
    padding-left: 16px;
}

.navbar-right-links {
    padding-right: 16px;
}

.navbar-logo {
    font-size: 24px;
}

a {
    color: antiquewhite;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.jumbotron {
    background-color: aliceblue;
    border-top: 8px solid black;
    border-right: 12px solid black;
    margin: 32px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jumbotron-text {
    width: 700px;
    height: auto;
    margin: 8px;
}

.jumbotron-2-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.jumbotron-card {
    background-color: aliceblue;
    width: 300px;
    height: 200px;
    border-top: 4px solid black;
    border-right: 8px solid black;
}

/*review how to target css selectors*/
